.aboutMe {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.aboutMe .subtitleAboutMe {
  color: #cccc;
}

.subtitleAboutMe {
  font-size: 7.5rem;
  line-height: 1;
  text-transform: uppercase;
  max-width: 6ch;
}

@media (max-width: 1000px) {
  .subtitleAboutMe {
    font-size: 3rem;
    max-width: 4ch;
  }
}

@media (max-width: 800px) {
  .subtitleAboutMe {
    font-size: 2rem;
    max-width: initial;
    text-align: center;
  }
}

.aboutMeText {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 45ch;
  margin-bottom: 60px;
  color: #525252;
}

.aboutMeText strong {
  background: -webkit-linear-gradient(#008bf5, #0dfae3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1000px) {
  .aboutMeText {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .aboutMe {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .aboutMe .subtitleAboutMe {
    color: #141414;
  }
  .aboutMeText {
    font-size: 1.25rem;
  }
}
