.footer {
  background: #000;
}

.footerContainer {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footerCopy {
  grid-column: 1/-1;
  font-size: 1.125rem;
  color: #8f8f8f;
}